<a href="https://colab.research.google.com/github/PapuFuerte/CursoPython/blob/main/Curso_Python_FES_Aragon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de python para la iniciación a la programación

## introducción
Este cuaderno es ejecutable dentro de `anaconda`, `google colab` o descargando la extensión de `jupyter notebook` dentro de `visual studio code`.

### Función `print`
La función print nos ayuda a imprimir por consola, esto como en todo lenguaje de programación, es nuestra primer aplicación dentro del mundo de python, sintácticamente difiere de muchos otros lenguajes de programación ya que solo necesitamos una línea para poder imprimir nuestro primer programa.

In [ ]:
print('Hola mundo desde python')

Hola mundo desde python

una vez realizado nuestro primer programa, podemos ver que es muy facil realizar la compilacion dentro de nuestro entorno de programación ya sea dentro de cualquiera que estemos ejecutando.

---
# SECCION 01


## Asignar nombre a variable
Como podemos observar el asginar codigo dentro del entorno es muy facil, ahora lo que haremos es asignarle a la variable `nombre` nuestro nombre

In [ ]:
nombre = 'Guido Van Rossum'

una vez asignado, lo que haremos es imprimir por pantalla el resultado de nuestro nombre

In [ ]:
print('Hola ',nombre)

Hola  Guido Van Rossum

## Tipos de datos
Como podemos observar es muy facil asignar variables dentro de python, no requerimos especificar `int, var, float, char, String, double` como en otros lenguajes, y aunque muchos no lo saben, el tipado que maneja python es fuerte, ya que a pesar de que se puede establecer cualquier tipo de dato y tambien cambiarse por cualquiera, este maneja tipos de errores cuando se trata de aritmetica sobre variables de diferentes tipos, ejemplo, si asignamos un tipo de dato string y uno numerico, este nos mandara un error al realizar una suma, veamos:

In [ ]:
nombre = 'Guido Von Rossum'
numero = 1
suma = nombre + numero
suma

TypeError: ignored

Como podemos ver, nos indica que no se puede concatenar un str con un int solamente con un str, si fuera primero int y despues str, el error seria que un entero no se puede suamr con un str

In [ ]:
suma = numero + nombre

TypeError: ignored

Conozcamos los tipos de datos que tiene python

In [ ]:
entero = 1
flotante = 1.1
caracter = 'a'
cadena = 'cadena'
complejo = 1 + 1j
boleano = True
tupla = 1,
lista = [1]
diccionario = {'nombre':'Guido'}
conjunto = {'urano','neptuno'}

print(type(entero))
print(type(flotante))
print(type(caracter))
print(type(cadena))
print(type(complejo))
print(type(boleano))
print(type(tupla))
print(type(lista))
print(type(diccionario))
print(type(conjunto))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'set'>

## Aritmetica
Si bien ya establecimos que python es de tipado fuerte, ahora lo que haremos será

In [ ]:
numero1 = 12
numero2 = 10

resultado = numero1 + numero2 
print('La suma es:',resultado)
resultado = numero1 - numero2 
print('La resta es:',resultado)
resultado = numero1 * numero2 
print('La multiplicación es:',resultado)
resultado = numero1 / numero2 
print('La división es:',resultado)
resultado = numero1 // numero2 
print('La división entera es:',resultado)
resultado = numero1 ** numero2 
print('La exponencial es:',resultado)
resultado = numero1 % numero2 
print('La residuo es:',resultado)

La suma es: 22
La resta es: 2
La multiplicación es: 120
La división es: 1.2
La división entera es: 1
La exponencial es: 61917364224
La residuo es: 2

Como podemos observar las operaciones aritmeticas son faciles de realizar dentro de nuestro entorno en python, no necesitamos nada más solo que agregar las variables, asignarles un valor y realizar la operación que necesitemos.

## Pedir valores por consola
En el caso anterior nosotros asignamos los valores, pero que sucede si queremos asignar valores por nosotros mismos, para esto, usamos la funcion input

In [ ]:
numero1 = input('Danos un número:')
numero2 = input('Danos un número:')
suma = numero1 + numero2
print('La suma es:',suma)

Danos un número:12
Danos un número:12
La suma es: 1212

Como podemos ver, al agregar los números y realizar una suma, nos contateno nuestros valores, esto se debe a que la función input ingresa valores str, por lo tanto nosotros tenemos que cambiar el tipo de dato, ya sea directamente desde el input o desde la variable asignarle el tipo de dato que queramos.

In [ ]:
# CAS0 1
numero1 = int(input('Danos un número:'))
numero2 = int(input('Danos un número:'))
suma = numero1 + numero2
print('La suma es:',suma)

Danos un número:12
Danos un número:12
La suma es: 24

In [ ]:
# CASO 2
numero1 = input('Danos un número:')
numero2 = input('Danos un número:')
# Aquí realizamos un paso en js denominado parsing
numero1,numero2 = int(numero1),int(numero2)
suma = numero1 + numero2
print('La suma es:',suma)

Danos un número:12
Danos un número:12
La suma es: 24

Como vemos cambiar los tipos de datos es muy facil, de esta manera podemos lograr objetivos de manera muy rapida, ya que todo dentro de python es relativamente de una manera sencilla.

---
## EJERCICIOS 
1. Pedir nombre por pantalla e imprimirlo
2. Pedir dos numeros e imprimirlos por pantalla
3. Pedir el sueldo de una persona y aumertarle el 25%
4. Realizar descuento en una tienda del 15% por liquidación

In [ ]:
# Resolucion
# Ejercicio 1
nombre = input('Danos tú nombre: ')
print('Tu nombre es ')

Danos tú nombre: Guido
Tu nombre es  Guido

In [ ]:
# Ejercicio 2
n1 = input('Danos un numero:')
n2 = input('Danos un numero:')
print('Los numeros son:',n1,' y ',n2)

Danos un numero:12
Danos un numero:12
Los numeros son: 12  y  12

In [ ]:
# Ejercicio 3
salario = float(input('Danos tú salario mensual: $'))
aumento = salario * .25
salario_nuevo = salario + aumento
print('Tú salario nuevo es de: $',salario_nuevo)

Danos tú salario mensual: $100
Tú salario nuevo es de: $ 125.0

In [ ]:
# Ejercicio 4
total = float(input('Danos el total de la venta:$'))
descuento = total * .15
total_descuento = total - descuento
print('Su total a pagar con 15% es de: $',total_descuento)

Danos el total de la venta:$100
Su total a pagar con 15% es de: $ 85.0

# SECCION 02

## Listas
son tipos de datos mutables dentro de python, para generarlas podemos hacerlo de dos maneras, una mediante [] corchetes y la otra mediante la funcion `list`

In [ ]:
lista1 = [1,2,3,4]
lista2 = list((1,2,3,4))
lista1,lista2

([1, 2, 3, 4], [1, 2, 3, 4])

In [ ]:
print(type(lista1))
print(type(lista2))

<class 'list'>
<class 'list'>

Como podemos observar la manera de los corchetes es mucho más facil, pero en cualquiera de los casos es bueno saber que podemos usar ambos.

### append
Ahora si nosotros queremos agregar algún dato a nuestra lista podemos ocupar la funcion `.append`

In [ ]:
lista1.append(190)
print(lista1)

[1, 2, 3, 4, 190]

### pop
con drop podemos borrar algún elemento de nuestra lista

In [ ]:
lista1.pop()
lista1

[1, 2, 3, 4]

si queremos borrar algún dato en especifico lo que hacemos es lo siguiente

In [ ]:
lista1.pop(0) # Asignamos la posicion 0 que es el número 1
lista1

[2, 3, 4]

### remove
Ahora si queremos borrar un dato en especifico de la lista en vez de por elemento, ocupamos `remove`

In [ ]:
lista1.remove(3)
lista1

[1, 2, 4]

### sort
para nosotros ordenar una lista ocupamos la función sort, esta nos ayuda a ordenar ya sea de manera ascendente o descendente especificandolo en la función

In [ ]:
lista1 = [14,1,2,-1,12,-190]
lista1.sort()
lista1

[-190, -1, 1, 2, 12, 14]

para ordenarlo de mayor a menor se ocupa el parametro `reverse = True`

In [ ]:
lista1.sort(reverse = True)
lista1

[14, 12, 2, 1, -1, -190]

### Filtrado
para obtener el filtrado dentro de una lista, nos basaremos en la posicion del elemento, si queremos el dato 14 de la lista 1, lo que tenemos que hacer es lo siguiente

In [ ]:
lista1[0]

14

ahora si queremos obtener el ultimo elemento de nuestra lista lo que hacemos es usar el -1, esto nos sirve por si no sabemos la longitud total de nuestra lista

In [ ]:
lista1[-1]

-190

Tambien podemos filtrar mediante elementos de 2 en 2 de la siguiente manera

In [ ]:
lista1[::2]

[14, 2, -1]

Le estamos indicando que tome todos los elementos desde el primero al ultimo y de saltos de 2 en 2.

### len
Este lo usamos para contar la totalidad de los elementos

In [ ]:
lista1 = [1,2,3,4,5,6,8,9,0]
len(lista1)

9

### copy
este lo ocupamos para poder hacer una copia de nuestra lista y no se tome como apuntador de la misma, veamos un ejemplo

In [ ]:
lista2 = lista1
lista1_copy = lista1.copy()
lista2, lista1_copy

([1, 2, 3, 4, 5, 6, 8, 9, 0], [1, 2, 3, 4, 5, 6, 8, 9, 0])

Como podemos ver, lista2 es "una copia" de lista1, pero no es así, este es un elemento por referencia o un apuntador que estan localizados en la misma parte de la memoría, si modificamos lista2 o lista1 estas se verán modificadas ambas cambiando alguna de las 2

In [ ]:
lista2[0] = 'Marcos'
lista2,lista1

(['Marcos', 2, 3, 4, 5, 6, 8, 9, 0], ['Marcos', 2, 3, 4, 5, 6, 8, 9, 0])

Como podemos ver, al modificar el elemento en la posición 0, nos cambio en ambas listas el primer elemento. ahora veamos la lista1_copy y comparemos con lista1

In [ ]:
lista1_copy,lista1

([1, 2, 3, 4, 5, 6, 8, 9, 0], ['Marcos', 2, 3, 4, 5, 6, 8, 9, 0])

Como podemos observar, el cambio solo aparece en la lista1, ya que hicimos una copia que apunta en otra direccion de memoria, por lo tanto este dato es diferente al de la lista1 a pesar de ser una copia en un principio fiel del la misma.

---

### del
Para nosotros borrar una lista ocupamos la función `del`

In [ ]:
lista1 = [1,2,3]
lista1

[1, 2, 3]

In [ ]:
del lista1
lista1

NameError: ignored

## Tuplas
Las tuplas son datos similares al de las listas, la diferencia es que la tupla es inmutable, la tupla se define como un dato que proviene de las bases de datos.

In [ ]:
tupla1 = (1,2,3,4)
tupla1

(1, 2, 3, 4)

La diferencia entre una lista y la tupla es que se define mediante parentesis () y la lista mediante corchetes [ ]

In [ ]:
tupla1 = tuple((4,5,3,2,1,23,1,1,2,12,1,2,3,4))
tupla1

(4, 5, 3, 2, 1, 23, 1, 1, 2, 12, 1, 2, 3, 4)

La tupla al igual que la lista acepta valores repetidos, y mediante la función count al igual que en la lista podemos ver cuantas veces se repite el dato.

### count

In [ ]:
tupla1.count(1)

4

### inmutable
Como se comento la diferencia de la tupla a la lista es que esta es inmutable, pero en dado caso de querer agregar un dato podemos alterarla mediante la función `list`

In [ ]:
tupla1_copia = list(tupla1)
tupla1_copia.append('Fresa')
tupla1 = tuple(tupla1_copia)
tupla1

(4, 5, 3, 2, 1, 23, 1, 1, 2, 12, 1, 2, 3, 4, 'Fresa')

Como podemos observar, usamos la función lista, despúes regresamos el valor a su lugar para poder mostrar el valor de la tupla.

## Diccionarios
Los diccionarios de datos son muy importantes, ya que gracias a ellos podemos realizar manejo de datos mediante dataframes, en sitaxis es muy parecido a los objetos declarados en javascript, usamos las llaves para declararlos o la funcion `dict` para declararlos

In [ ]:
numero = dict(uno=1,dos=2,tres=3)
numero

{'dos': 2, 'tres': 3, 'uno': 1}

In [ ]:
numero2 = {'uno':1,
          'dos':2,
          'tres':3
}
numero2

{'dos': 2, 'tres': 3, 'uno': 1}

### agregar clave valor
para agregar datos dentro de nuestro diccionario, agregamos la clave y el valor o valores que queremos que tenga nuestro diccionario

In [ ]:
numero2['edad'] = [1,2,3,4,5]
numero2

{'edad': [1, 2, 3, 4, 5], 'tres': 3}

con las siguientes funciones podemos obtener tanto las llaves, los elementos y los valores que contiene nuestro diccionario

In [ ]:
numero2.keys(),numero2.items(),numero2.values()

(dict_keys(['uno', 'dos', 'tres', 'edad']),
 dict_items([('uno', 1), ('dos', 2), ('tres', 3), ('edad', [1, 2, 3, 4, 5])]),
 dict_values([1, 2, 3, [1, 2, 3, 4, 5]]))

### pop
Tambien podemos eliminar datos de nuestro diccionario con la fucion `pop`

In [ ]:
numero2.pop('uno')
numero2

{'dos': 2, 'edad': [1, 2, 3, 4, 5], 'tres': 3}

### del
tambien podemos ocupar `del`

In [ ]:
del numero2['dos']
numero2

{'tres': 3, 'uno': 1}

### clear
para limpiar un diccionario, tupla, lista podemos ocupar la función `clear`

In [ ]:
numero2.clear()
numero2

{}

### eliminar
el diccionario por completo

In [ ]:
del numero2
numero2

NameError: ignored

## Set - Conjunto
el set o conjunto de datos es un tipo de valor parecido a listas y tuplas, la diferencia entre este y los otros es que este no acepta valores repetidos, a comparación de las tuplas, diccionarios y listas, se declaran mediante llaves {}, son mutables y no mantienen un orden especifico.

In [ ]:
planetas = {'tierra','jupiter','saturno'}
planetas, planetas

({'jupiter', 'saturno', 'tierra'}, {'jupiter', 'saturno', 'tierra'})

como podemos observar no mantienen un orden.

----

### Agregar un valor
para eso ocupamos la función `add`

In [ ]:
planetas.add('mercurio')
planetas

{'jupiter', 'mercurio', 'saturno', 'tierra'}

si queremos volver a agregar el planeta mercurio, no nos dira nada, pero no lo agregara ya que ya existe uno

In [ ]:
planetas.add('mercurio')
planetas

{'jupiter', 'mercurio', 'saturno', 'tierra'}

### Eliminar elemento de un set
para eliminarlo podemos hacerlo desde el valor con `remove` o con `pop` eliminamos el ultimo valor.

In [ ]:
planetas.remove('jupiter')
planetas

{'mercurio', 'saturno', 'tierra'}

In [ ]:
planetas.pop()
planetas

{'saturno', 'tierra'}

### del
para borrar un set ocupamos tambien del

In [ ]:
del planetas
planetas